@import './variables';

.starter {
    shape-outside: url('../../assets/icons/rocket_launch_FILL0_wght200_GRAD0_opsz48.svg');
    shape-margin: 5rem;
    // border: 1px solid green;
}

.blog {
    shape-outside: url('../assets/images/sticky_note_2_FILL0_wght200_GRAD0_opsz48.svg');
    shape-margin: 5rem;
}

.dudes-apps {
    shape-outside: url('../assets/images/install_mobile_dark.svg');
    shape-margin: 5rem;
}

.dudes-ads {
    width: 16%;
    min-width: 90px;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    float:left;
    cursor: pointer;

    &:hover {
        color: $hover-color-home;
        transform: rotateY(180deg);
    }

    + h2 {
        
        &:hover {
            color: $hover-color-home;
        }
    }

}