footer {
    display:flex;
    border-top: 1px solid #D0D1D2;
    font-size: 0.7rem;

    .copyright {
        margin: 0.3rem;
    }

    .copyright-name {
        margin-top: 0.3rem;
    }

    .credits {
        margin: 0.3rem;
    }
}