header {

    .logo-image {
        display: inline-block;
        background-image: url('../../assets/images/dudes.png');
        background-size: cover;
        height: 42px;
        width: 42px;
        vertical-align: text-bottom;
    }

a {
    text-decoration: none;

    span{

        &.logo-text{
            font-size: 2.2rem;
            font-weight: 300;
            display:inline-block;
            color: #000;

            div {
                display:inline-block;
                margin: 0;
                padding: 0;

                &.d {
                    opacity: 0;
                    animation: drop 0.4s linear forwards;
                }
                &.o {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.2s;
                }
                &.t {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.4s;
                }
                &.n {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.6s;
                }
                &.e {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.8s;
                }
                &.t1 {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.10s;
                }
                &.d1 {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.12s;
                }
                &.u {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.14s;
                }
                &.d2 {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.16s;
                }
                &.e1 {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.18s;
                }
                &.s {
                    opacity: 0;
                    animation: drop 0.4s linear forwards 0.20s;
                }
            }                
        }
    }
}    
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
header {

    .logo-image {
        background-image: url('../../assets/images/dudes-dark.png');
    }
    a {

        span{

            &.logo-text{
                color: #e3f2fd;
            }
        }
    }    
}
}

@media (max-width: 1000px) {
header {    
    a {

        span{

            &.logo-text{
                font-size: 1.8rem;
            }
        }
    }    
}
}

@media (max-width: 900px) {
header {    
    a {

        span{

            &.logo-text{
                font-size: 2.0rem;
            }
        }
    }    
}
}

@media (max-width: 450px) {
header {    
    a {

        span{

            &.logo-text{
                font-size: 1.8rem;
            }
        }
    }    
}
}

@media (max-width: 400px) {
header {    
    a {

        span{

            &.logo-text{
                font-size: 1.4rem;
            }
        }
    }    
}
}

@media (max-width: 350px) {
header {    
    a {

        span{

            &.logo-text{
                font-size: 1rem;
            }
        }
    }    
}
}

@keyframes drop {
0% {
    transform: translateY(-200px);
    opacity: 0;
}
50% {
    transform: translateY(0px);
    opacity: 1;
}
65% {
    transform: translateY(-17px);
    opacity: 1;
}
75% {
    transform: translateY(-22px);
    opacity: 1;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}
}