$background-color: #fff;
$background-color-dark: #121212;
$base-text-color: #000;
$base-text-color-dark: #e3f2fd;
$border-color: #000;
$border-color-dark: #000;
$error-color: firebrick;
$error-color-dark: #cf6679;
$features-background: #F2F2F2;
$features-background-dark: #424242;
// $features-background-dark: #232D3F;
$hover-color: #cf6679;
$hover-color-dark: #181818;
$hover-color-home: firebrick;
